doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    title Foodie

    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B", crossorigin="anonymous")
    //- UNCOMMENT LINE BELOW FOR OFFLINE VERSION:
    //- link(rel='stylesheet' href='/offline/bootstrap/css/bootstrap.min.css')

  body
    .container
      .row
