// Modal
#recipeModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#recipeModalLabel.modal-title Loading...
        |         
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
      |       
      .modal-body
        | ...
      |       
      .modal-footer
        button.btn.btn-secondary.close-modal-button(type="button", data-dismiss="modal") Close
