form
  .form(action='/', method="GET")
    .form-group
      .input-group.mb-3
        input(type="text", name="ingredient", placeholder="Ingredient Name")
        |   
        .input-group-append
          button.btn.btn-outline-secondary(type="submit") Submit
