doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    |   
    title Whatever Title Here
  body
    header Whatever Header Here
    |   
    nav Whatever Nav Here
    |   
    section Whatever Content Here
    |   
    footer Whatever footer here
