extends template.pug

block content
  p Hello, #{name}!
  |
  if recipes
    .row
      each recipe in recipes
        include includes/recipecard
  else 
    p You haven't favourited any recipes yet!
