extends template.pug

block content 
    if recipes
      include includes/recipemodal
      include includes/results
      .row
          each recipe in recipes
            include includes/recipecard
    else 
      h5.mt-2 Search For an Ingredient
      include includes/searcharea        
