include includes/header
.container
  include includes/searcharea
  if recipes
    include includes/results
    .row
        each recipe in recipes
          include includes/recipecard
  include includes/footer
